<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>码农_阿轲 | 藏心阁</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,周轲,码农,springboot,java,后端，友链">
    <meta name="description" content="周轲，正宗99后，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link rel="icon" type="image/x-icon" href="http://zk-blog-picture.oss-cn-shanghai.aliyuncs.com/blog_picture/icon_small.jpg">
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/myheart.css">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="all">
    <canvas class="rain" style="position: fixed"></canvas>
    <div class="header">
        <h1 class="vintage4">周轲呀</h1>
    </div>
    <div class="main">
        <div class="heart">
            <div class='topLeft'></div>
            <div class='topRight'></div>
            <div class='bottom'></div>
        </div>
        <div class="chooseBtn">
            <button type="button" class="yesterday am-btn am-btn-danger am-btn-xl">
                <i class="fa fa-mercury" style="margin-right: 5px"></i>
                往昔
            </button>
            <button type="button" class="today am-btn am-btn-warning am-btn-xl">
                <i class="fa fa-venus" style="margin-right: 5px"></i>
                今日
            </button>
        </div>
    </div>
</div>

<script src="js/rain.js"></script>
<!-- 右下角live2d效果 -->
<script type="text/javascript" charset="utf-8" async="" src=" https://cdn.jsdelivr.net/npm/live2d-widget@3.1.4/lib/L2Dwidget.min.js"></script>
<!-- 右下角live2d效果 -->
<script type="text/javascript">
    setTimeout(() => {
        L2Dwidget.init({
            "model": {
                "scale": 1
            },
            "display": {
                "position": "left",
                "width": 180,
                "height": 260,
                "hOffset": 0,
                "vOffset": -20
            },
            "mobile": {
                "show": false
            },
            "react": {
                "opacityDefault": 0.7,
                "opacityOnHover": 0.2
            }
        });
    }, 1000)
</script>
<script src="js/myheart.js"></script>
</body>
</html>